



    <h1><%= @the_user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd>false</dd>

  <dt>Followers</dt>
  <dd>
    0

    </div>

      <h4>Pending follow requests</h4>

      <ul>
      </ul>
  </dd>

  <dt>Following</dt>
  <dd>0</dd>

  <dt>Edit user</dt>
  <dd>
    <form action="/modify_user/128" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="query_username" placeholder="Enter a username..."
        value="abc">

      <label for="browser_private">Private?</label>
      <input id="browser_private" type="checkbox" name="query_private" >



      <button>Update user</button>
    </form>
  </dd>
</dl>

<nav>
  <ul>
    <li>
      <a href="/users/abc">Profile</a>
    </li>
    <li>
      <a href="/users/abc/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/abc/feed">Feed</a>
    </li>
    <li>
      <a href="/users/abc/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (0)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

       <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

</table>

</body>
